version: '3.8'

services:
  app:
    build: .
    container_name: user-service-app
    depends_on:
      - postgres
    environment:
      - DB_URL=jdbc:postgresql://postgres:5432/users_db
      - DB_USERNAME=postgres
      - DB_PASSWORD=1234
    stdin_open: true
    tty: true
    restart: unless-stopped
    command: ["java", "-jar", "app.jar"]

  postgres:
    image: postgres:15
    container_name: user-service-db
    environment:
      - POSTGRES_DB=users_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  postgres_data: